<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Location</title>
        {% load bootstrap4 %}
   {# CSS Bootstrap #}
   {% bootstrap_css %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mb-4">
        {%include "navbar.html" %}
        <div class="container d-flex justify-content-center">
            <div class="card mt-4 " style="width: 50rem">
              <div class="card-body">
                <h5 class="card-title"><b>Location:</b> {{ name }}</h5>
                <p class="card-text">Hemos encontrado la siguiente información sobre {{name}}:</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Type:</b>  {{ type }}</li>
                <li class="list-group-item"><b>Dimension:</b> {{ dimension }}</li>
                <li class="list-group-item">
                  <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Residents</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for r in residents%}
                            <tr>
                              <td><i class="fa fa-user"></i> <a href="/character/{{r.1}}" class="card-link"> {{r.0}}</a></td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                  </li>
              </ul>
            </div>
        </div>
    </div>
</body>
</html>